<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>구구단 1~9단 출력</h3>
    <div id="app">
        <ul v-for="i in 9">
            <li v-for="j in 9">
                {{i}} X {{j}} = {{i*j}}
            </li>
            <br>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@2.3.3"></script>
    <script>
        new Vue({
            el : "#app"
        })
    </script>
</body>
</html>